= form_for(@track) do |f|
  - if @track.errors.any?
    #error_explanation
      %h2
        = pluralize(@track.errors.count, "error")
        prohibited this track from being saved:
      %ul
        - @track.errors.full_messages.each do |msg|
          %li= msg
  .fields
    = f.label :tname
    = f.text_field :tname
    %br
    = f.label :tinfo
    = f.text_area :tinfo
    %br
    = f.label :tpictureurl
    = f.text_field :tpictureurl
  .actions
    = f.submit