= form_for(@console) do |f|
  - if @console.errors.any?
    #error_explanation
      %h2
        = pluralize(@console.errors.count, "error")
        prohibited this console from being saved:
      %ul
        - @console.errors.full_messages.each do |msg|
          %li= msg
  .fields
    = f.label :gcname
    = f.text_field :gcname
    %br
    = f.label :gcinfo
    = f.text_area :gcinfo
    %br
    = f.label :gcpictureurl
    = f.text_field :gcpictureurl
  .actions
    = f.submit