%h1
  = @kart[get_field_index(Kart, "kname")]

- if @kart[get_field_index(Kart, "kpictureurl")] != nil
  .picture
    = image_tag @kart[get_field_index(Kart, "kpictureurl")]
%br
= @kart[get_field_index(Kart, "kinfo")]
%br

- if !@games.to_a.empty?
  %h3 Games
  %ul        
    - @games.each do |game|
      %li
        = raw "#{link_to game[get_field_index(Game, "gname")], game_path(game[0])} - #{game.last}"

= link_to 'Back', karts_path