%p#notice= notice

%h1
  = @game[get_field_index(Game, "gname")]

- if @game[get_field_index(Game, "gpictureurl")] != nil
  .picture
    = image_tag @game[get_field_index(Game, "gpictureurl")]
%br
= @game[get_field_index(Game, "greleasedate")]
%br
= @game[get_field_index(Game, "ginfo")]
%br

- if !@characters.to_a.empty?
  %h2 
    Characters
  %ul
    - @characters.each do |character|
      %li
        = link_to character[get_field_index(Character, "cname")], character_path(character[0])

- if !@characters.to_a.empty?
  %h2 
    Items
  %ul
    - @items.each do |item|
      %li
        = link_to item[get_field_index(Item, "iname")], item_path(item[0])

= link_to 'Back', games_path