%h1
  = @game[get_field_index(Game, "gname")]

- if @game[get_field_index(Game, "gpictureurl")] != nil
  .picture
    = image_tag @game[get_field_index(Game, "gpictureurl")]
%br
Released on
- time = @game[get_field_index(Game, "greleasedate")]
- day = time.day
= time.strftime("%B #{day.ordinalize}, %Y")
for
= link_to @console[get_field_index(Console, "gcname")], console_path(@console[0])
%br
= @game[get_field_index(Game, "ginfo")]
%br

- if !@characters.to_a.empty?
  %h2 
    Characters
  %ul
    - @characters.each do |character|
      %li
        = link_to character[get_field_index(Character, "cname")], character_path(character[0])

- if !@items.to_a.empty?
  %h2 
    Items
  %ul
    - @items.each do |item|
      %li
        = link_to item[get_field_index(Item, "iname")], item_path(item[0])

- if !@tracks.to_a.empty?
  %h2 
    Tracks
  %ul
    - @tracks.each do |track|
      %li
        = link_to track[get_field_index(Track, "tname")], track_path(track[0])

- if !@karts.to_a.empty?
  %h2 
    Karts
  %ul
    - @karts.each do |kart|
      %li
        = link_to kart[get_field_index(Kart, "kname")], kart_path(kart[0])

= link_to 'Back', games_path