= form_for(@character) do |f|
  - if @character.errors.any?
    #error_explanation
      %h2
        = pluralize(@character.errors.count, "error")
        prohibited this character from being saved:
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg
  .fields
    = f.label :cname
    = f.text_field :cname
    %br
    = f.label :cinfo
    = f.text_area :cinfo
    %br
    = f.label :cpictureurl
    = f.text_field :cpictureurl
  .actions
    = f.submit