%p#notice= notice

%h1
  = @character[get_field_index(Character, "cname")]

- if @character[get_field_index(Character, "cpictureurl")] != nil
  .picture
    = image_tag @character[get_field_index(Character, "cpictureurl")]
%br
= @character[get_field_index(Character, "cinfo")]
%br

- if !@games.to_a.empty?
  %h3 Games
  %ul        
    - @games.each do |game|
      %li
        = link_to game[get_field_index(Game, "gname")], game_path(game[0])

= link_to 'Back', characters_path