%p#notice= notice

%h1
  = @character[get_field_index(Character, "cname")]

- if @character[get_field_index(Character, "cpictureurl")] != nil
  .picture
    = image_tag @character[get_field_index(Character, "cpictureurl")]
%br
= @character[get_field_index(Character, "cinfo")]
%br

- if !@games.to_a.empty?
  %h2 
    Games
  - @games.each do |game|
    = link_to game[get_field_index(Game, "gname")], game_path(game[0])
    %br

%br
= link_to 'Edit', edit_character_path(@character)
|
= link_to 'Back', characters_path